body {
    background-color: bisque;
    width: 960px;
    margin: auto;
    border: 1px solid black
}

ul {
    list-style: disc;
    list-style-position: outside;
    margin: 60px;

ol {
    list-style: lower-roman;
    
}
}